.icon-project {
    background-color: white;
    border-radius: 50%;
    border: 0px solid transparent;
    font-size: 40px;
    position: absolute;
    height: 64px;
    width: 64px;
    top: 142px;
    left: 118px;
    transition: .2s all ease-in;
}

.icon-project-💩 span,
.icon-project-🐌 span,
.icon-project-💰 span {
    position: absolute;
}

.icon-project-💩 { background-color: #4DD0E1; }
.icon-project-🐌 { background-color: #FFEE58; }
.icon-project-💰 { background-color: #AB47BC; }

.icon-project-💩 span { top: -2px; left: 4px; }
.icon-project-🐌 span { top: 2px; left: 6px; }
.icon-project-💰 span { top: 4px; left: 9px; }
